
body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);    text-align: center;
    line-height: 1.65;
}

h3 {
    color: black;
    border: 1px solid white;
    border-radius: 15px;
    margin: 0 40%;
}

h3:hover {
    color: black;
    border: 3px solid white;
    border-radius: 30px;
    margin: 0 40%;
}

p {
    color: rgb(58, 56, 56);
}
